<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
   <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style="background-image:url(<%= asset_path 'background.jpg' %>); background-size: cover;">
<%= render 'layouts/header' %>
<div class="row">
<div class="col-sm-4"></div>
<div class="container col-sm-6">
<%= yield %>
</div>
</div>
</body>
</html>
